body {background-color: rgb(148, 145, 145);
}
h1 {text-align: center;
font-size: 350%;
  color: rgb(26, 43, 94);}

#img1{width: 20%;
  margin-left: 25%;
}

#img2{width: 20%;
    margin-left: 20%;
}

h2 {text-align: center;
font-size: 10%;
color: aliceblue;
margin-left: 20%;}

h3 {text-align: center;
font-size: 10%;
color: azure;
margin-left: 20%;}