body {background-color: rgb(148, 145, 145);
}
h1 {text-align: center;
font-size: 350%;
  color: royalblue;}

#img1{width: 20%;
  margin-left: 25%;
}

#img2{width: 20%;
    margin-left: 15%;
}

h2 {text-align: center;
font-size: 300%;
color: aliceblue;}